@import './typography.css';

:root {
  /* colors */
  --black: #000;
  --white: #fff;
  --darkThemeText: #eeffff;
  --darkThemeBG: #263238;
  --darkThemeAccents: #80cbc4;
  --lightThemeText: #000000;
  --lightThemeBG: #fcfaf9;
  --lightThemeAccents: rgb(2, 182, 32);

  /* fonts */
  --primaryFont: 'Poppins Regular', sans-serif;
  --primaryFontThin: 'Poppins Thin', sans-serif;
  --primaryFontBold: 'Poppins Bold', sans-serif;

  /* shadows */
  --modalShadow: 0 0 4px 4px #00000030;
}

body {
  font-family: var(--primaryFont);
  background-color: var(--darkThemeBG);
  color: var(--darkThemeText);
  font-size: 14px;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: var(--primaryFontBold);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
}
