@font-face {
  font-family: 'Poppins Very Bold';
  src: url('./fonts/Poppins-Black.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('./fonts/Poppins-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('./fonts/Poppins-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins Thin';
  src: url('./fonts/Poppins-Thin.ttf') format('opentype');
}

:root {
  /* colors */
  --black: #000;
  --lightBlack: #00000050;
  --white: #fff;
  --grey: #ccc;
  --red: #ff0000;
  --darkThemeText: #eeffff;
  --darkThemeBG: #263238;
  --darkThemeAccents: #4ef0e0;
  /* --darkThemeAccents: #3fc4ff; */
  --lightThemeText: #000000;
  --lightThemeBG: #fcfaf9;
  --lightThemeAccents: rgb(2, 182, 32);

  /* fonts */
  --primaryFont: 'Poppins Regular', sans-serif;
  --primaryFontThin: 'Poppins Thin', sans-serif;
  --primaryFontBold: 'Poppins Bold', sans-serif;
  --primaryFontVeryBold: 'Poppins Very Bold', sans-serif;

  /* shadows */
  --modalShadow: 0 0 4px 4px #00000030;
}

body {
  font-family: var(--primaryFont);
  background-color: var(--darkThemeBG);
  color: var(--darkThemeText);
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box !important;
  font-family: var(--primaryFont);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFontThin);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
}
